<div id="comment"> 
  <div id="time">
    Posted at <%= comment.created_at %> by
  </div> 
  <div id="author">
    <%= comment.user.name %>
  </div>
  <div id="text">
    <%= comment.text %>
  </div>
</div>

