<%= form_for(@comment, :url => event_comments_path(@event)) do |f| %>
  <div class="field">
    <%= f.label :text, 'Leave your comment:' %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit 'Post comment', :class => 'btn' %>
  </div>
<% end %>
