<h1>Register</h1>

<p id="notice"><%= multiline_notice(notice) %></p>

<%= render :partial => 'form', :locals => { :urlaction => '/register', :savebutton => 'Register' } %>

<%= link_to 'Login', login_path %>

