// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#selected {
  background: black;
  color: white;
}

#editform {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
  background: white;
  border: 1px solid black;
}

.eventlisttable {
  width: 100%;
  border: 1p
}

.eventlisttable th, tr {
  text-align: center;
}
